.profile-photo {
  width: 15rem;
  object-fit: contain;
}
/* .bg-row {
  background: #f0f0f4 !important;
} */
.nav-setting {
  /* background: #f0f0f4 !important; */
  color: black;
}
/* .bg-privacy {
  background: #f0f0f4 !important;
} */
.container-privacy {
  height: 70vh;
}
.form-privacy {
  width: 100% !important;
}
@media only screen and (min-width: 767px) {
  .form-privacy {
    width: 75% !important;
  }
}
@media only screen and (min-width: 991px) {
  .form-privacy {
    width: 50% !important;
  }
}
